body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    background: #222;
    background-image: url('https://source.unsplash.com/random/1920x1080/?wallpaper,landscape');
}

.card {
    background: #000d00;
    color: #fff;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    opacity: 0.9;
}
.description{
    text-transform: capitalize;
}

.search {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.search input {
  font-size: 1.2rem;
  padding: 6px;
  margin-right: 5px;
}

.search input:focus {
  outline: none;
}

.search button {
  border: none;
  background: transparent;
}

.city {
    font-size: 1.5rem;
}
